################################################################################
# Ignores build results, temporary files, and so on.
################################################################################

.vs/
Build/
Intermediate/
ToyBox.sln
/Project/*
!/Project/ProjectTemplate/
